# اعدادات الخادم الأساسية
PORT=3000

# مفتاح التشفير الآمن (يرجى تغييره في بيئة الإنتاج)
JWT_SECRET="muthanna_super_secret_key_2026_change_me"

# وضع التشغيل (development أو production)
NODE_ENV="production"
